#pacman{
  -webkit-animation:move 5s infinite linear;
  position: absolute;
  margin: 20px 10px;
}
#container{
  width: 900px;
  height: 150px;
  margin: 200px auto;
  position: relative;
  padding: 10px;
}
.upper{
  height: 0px;
  width: 0px;
  border: 50px solid red;
  border-radius: 50px;
  position: absolute;
  clip:rect(0px,100px,50px,0px);
  transform: rotateZ(-45deg);
  -webkit-animation:upper_half 0.6s linear infinite ;
}
.lower{
  height: 0px;
  width: 0px;
  border: 50px solid red;
  border-radius: 50px;
  position: absolute;
  clip:rect(50px,100px,100px,0px);
  transform: rotateZ(45deg);
  -webkit-animation:lower_half 0.6s linear infinite ;
}

.ball{
  width: 0px;
  height: 0px;
  margin: 10px;
  border: 10px solid blue;
  border-radius: 10px;
}

#ballcontainer{
  width: 600px;
  margin: 50px 140px;
  display: flex;
  justify-content: space-between;
  position: absolute;
}

#box{
  height: 100px;
  width:1000px;
  position: absolute;
  margin-left: -950px;
  background-color: white;
}

@-webkit-keyframes upper_half{
  from{
    transform: rotateZ(-45deg);
  }
  to{
    transform: rotateZ(-5deg);
  }
}
@-webkit-keyframes lower_half{
  from{
    transform: rotateZ(45deg);
  }
  to{
    transform: rotateZ(5deg);
  }
}
@-webkit-keyframes move{
  0%{
    margin-left: 70px;
    transform:scaleX(1);
  }
  49.99%{
    margin-left: 770px;
    transform: scaleX(1);
  }
  50%{
    margin-left: 770px;
    transform: scaleX(-1);
  }
  100%{
    margin-left: 70px;
    transform: scaleX(-1);
  }
}
