*{
    margin: 0;
    padding: 0;
}
body{
    width:100%;
    background: url('images/bg.jpg') no-repeat ;
    background-size: cover;
}
#page{
    display: flex;
    justify-content: space-around;
}
#logo{
    width:35%;
    height:100px;
    display: block;
    margin:auto;
}
#ash{
    width: 25%;
    height: 430px;
    margin-left: 30px;
}
#content{
    width: 50%;
    padding: 3% 15% 0px 0px;
    text-align: center;
    margin-top: 10px;
    box-sizing: border-box;
}
#content button{
    font-size: 40px;
    width: 80%;
}
#userDetail{
    width: 70%;
    text-align: center;
    margin-top: 10px;
    display: none;
}
h1{
    color: red;
    font-size: 40px;
    margin-bottom: 20px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
#playerContainer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    list-style-type: none;
}
li{
    width:20%;
    height: 150px;
    border-radius: 100%;
    border: 2px solid black;
    background-color: greenyellow;
    cursor: pointer;
}
li img{
    width: 75%;
    margin-top: 10%;
}
li:hover{
    background-color: deepskyblue;
}
#playerName{
    height: 50px;
    width: 40%;
    margin: auto;
    background-color: deepskyblue;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    padding:0 10px ;
    font-weight: bolder;
    font-size: 30px;
    color: darkblue;
    display: block;
}
button{
    display: inline-block;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: darkblue;
    color: yellow;
    padding: 5px;
    margin: 20px;
    outline: none;
    cursor: pointer;
}
#leaderBoard{
    width:60%;
    margin: 10px;
    text-align: center;
    display: none;
}
table{
    width: 100%;
    font-size: 2em;
    margin-top: 10px;
    background-color: black;
}
th{
    background-color: darkblue;
    color: yellow;
}
tr:nth-child(2n){
    background-color: greenyellow;
}
tr:nth-child(2n+1){
    background-color: orange;
}
#rank{
    width: 20%;
}
#tableScore{
    width: 20%;
}
#instructions{
    background: url('images/oldpaper.png') no-repeat;
    background-size: contain;
    width:60%;
    height: 450px;
    text-align: center;
    margin-top: 30px;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: bold;
    padding: 40px 100px;
    display: none;
}
#instructions h1{
    margin-bottom: 10px;
}
#instructions p{
    margin-bottom: 15px;
}
#control{
    display: flex;
    justify-content: space-between;
}
#control div{
    width: 50%;
}
#instructions img{
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 3%;
    vertical-align: middle;
}
span{
    margin: 10px 20px;
}